body{
	margin-top: 0px;
	margin-left: 20px;
}

* {
	box-sizing: border-box;
}

div {
			background-color: grey;
			border: 2px solid black;
			width: 410px;
			font-size: 20px;
			margin-bottom: 20px;
			float: left;
			margin-right: 30px;
		}

		div>div {
			position: relative;
			left: 260px;
			width: 148px;
			border: 2px solid black;
			margin-top: -2px;
			margin-bottom: 18px;
			font-size: 22px;
			text-align: center;


		}

		div.grey {
			position: relative;
			left: 15px;
			border: 0px;
			text-align: left;
			width: 390px;
			font-size: 20px;
		}

		#pink {
			background-color: pink;

     	}

		#red {
			background-color: red;
		}

		#yellow {
			background-color: yellow;
		}

@media(min-width: 1351px) {
    div.box {
    	height: 300px;
		}
}

@media (min-width: 928px) and (max-width: 1350px) {
	
	#box3 {
		float: left;
		width: 850px;

	}
	#yellow {
		position: relative;
		top: 0px;
		left: 700px;
	}
	#subBox3 {
		position: relative;
		left: 15px;
		text-align: left;
		width: 830px;
	}
}

@media (max-width: 927px) {

	div {
		clear: left;
	}
}